<config>
	<vfs>
		<rom name="default.ttf"/>
		<rom name="monospace.ttf"/>
		<dir name="fonts">
			<dir name="title">
				<ttf name="regular" path="/default.ttf" size_px="18" cache="256K"/>
			</dir>
			<dir name="text">
				<ttf name="regular" path="/default.ttf" size_px="14" cache="256K"/>
			</dir>
			<dir name="annotation">
				<ttf name="regular" path="/default.ttf" size_px="11" cache="256K"/>
			</dir>
			<dir name="monospace">
				<ttf name="regular" path="/monospace.ttf" size_px="14" cache="256K"/>
			</dir>
		</dir>
	</vfs>

	<default-policy root="/fonts" />
</config>
